<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 nouveau produit 
        form(action="/products",method="post",enctype="multipart/form-data")
            div
                label id produit 
                input(type="number", name="id")
            div
                label nom produit 
                input(type="text", name="title")
            div    
                label prix produit 
                input(type="number", name="prix")
            div    
                label image produit 
                input(type="file", name="image")
            input(type="submit", text="ajouter")